@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
  
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
  
body {    
  overflow-x: hidden;
}
  
/* Header */
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  transition: 0.5s;
}

header.sticky /* transition effect of header when scrolling down */
{
    background: #333;
    box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);
}

header a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}


/* Navbar */
.navbar-brand {
  font-size: 32px !important;
}

.navbar-brand, .nav-link {
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
}


/* Home Section */
.home {
  background: url(image/prof_pic.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  
.home h2 {
  font-size: 3rem;
  color: white;
}
  
.home h1 {
  font-size: 4rem;
  color: white;
  margin: 2rem 0;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.9);
}
  
.home h1 span {
  color:  pink;
  margin: 0;
}
  
.home button {
  height: 4rem;
  width: 16rem;
  background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  border: none;
  border-radius: px;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
}
/* Home Section Ends */


/* About Section */
.about {
  padding-bottom: 3rem;
}
  
.about .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
}
  
.about .heading::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .3rem;
  width: 5rem;
  background: #333;
}
  
.about img {
  width: 100%;
  border-radius: 30px;
  border: 7px solid #66a6ff;
  box-shadow: 0 28px 26px 0px rgba(0,0,0,.7);
}

.about .info {
  padding: 0 2rem;
}
  
.about .info h2 {
  font-size: 3rem;
  color: #66a6ff;
}
  
.about .info p {
  font-size: 1.7rem;
  color: #333;
  padding-bottom: 3rem;
}
/* About Section Ends */
  

/* Experience Section */
.experience {
  min-height: 100vh;
  background: #333;
}
  
.experience .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
  color: #fff;
}
  
.experience .heading::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .3rem;
  width: 5rem;
  background: #fff;
}
  
.experience .box {
  height: 23rem;
  width: 100%;
  padding-left: 2.5rem;
  border-left: .1rem solid #fff;
  position: relative;
}
  
.experience .box::after {
  content: '';
  position: absolute;
  top: .5rem;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 5rem;
}
  
.experience .box .year {
  color: #fff;
  font-size: 2.5rem;
}
  
.experience .box h3 {
  font-size: 2rem;
  color: yellow;
  margin: 1rem 0;
}
  
.experience .box p {
  color: #ccc;
  font-size: 1.5rem;
}
/* Experience Section Ends */


/* Work Section */
.portfolio {
  min-height: 100vh;
}
  
.portfolio .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
}
  
.portfolio .heading::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .3rem;
  width: 5rem;
  background: #333;
}
  
.portfolio .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
  
.portfolio .images .filter-image {
  border: 4px solid #333;
  border-radius: 1rem;
  margin: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
}
  
.portfolio p {
  font-size: 15px;
}
/* Work Section Ends */


/* Contact Section */
.contact {
    background-image: linear-gradient(to top, #65dfc9, #62dfd1, #61ded8, #62ddde, #65dce4, #78deee, #8be0f6, #9fe2fc, #c1e7ff, #ddedff, #f2f5ff, #ffffff);
}

.contact .wrapper {
  display: flex;
  align-items:center ;
  justify-content: center;
  min-height: 90vh;
}
  
.contact .wrapper .glass {
  background: white;
  min-height: 70vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
  
.contact .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  margin-bottom: 0;
  padding-top: 6rem;
  position: relative;
}
  
.contact .heading::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .3rem;
  width: 5rem;
  background: #333;
}

/* Contact Information in Large Devices*/
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.contact .info-box {
  margin: 4.5rem 1rem;
}
  
.contact .info .link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.contact .info-box .link h2 {
  font-size: 2rem;
  color: #66a6ff;
}
  
.contact .info-box .link h2 i {
  padding: 0 1rem;
  color: #333;
  text-shadow: 2px 2px 1px white;
}

.contact .info-box .link h2 i:hover{
  text-shadow: 0 1.5px 0px #848484;
  color: pink;
}

 /* Contact Information in Small Devices */
.contact.wrapper-contact {
  margin-top: -30px;
}

.wrapper-contact ul {
  list-style: none;
  padding: 0;
  margin-top:50px;
  display: flex;
  justify-content: center;
}

.wrapper-contact ul li a{
  justify-content: center;
  padding: 1.8rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: 0 1.5px 0px #848484;
  text-align: center;
  color: #333;
  cursor: pointer;
}

.wrapper-contact ul li a:hover{
  text-shadow: 2px 2px 1px white;
} 

/* Form */
.contact .inputBox {
  padding: 0 1rem;
}
  
.contact .inputBox .name, .contact .inputBox .email, .contact .inputBox textarea {
  height: 3rem;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: .1rem solid #333;
  padding: 1rem;
  margin: 1.5rem 0;
  font-size: 1.8rem;
  border-radius: 2px;
}
 
.contact .inputBox .name:focus, .contact .inputBox .email:focus, .contact .inputBox textarea:focus {
  border-bottom: 0.2rem solid #66a6ff;
}

.contact .inputBox textarea {
  height: 20rem;
  border: .1rem solid #333;
  resize: none;
}
  
.contact .inputBox textarea:focus {
  border: 0.2rem solid #66a6ff;
}
  
/* .contact .name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
} */
  
.contact input[type="submit"] {
  height: 4rem;
  width: 12rem;
  background: #333;
  color: #fff;
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  outline: none;
  border: none;
  border-radius: 2rem;
}
  
.contact input[type="submit"]:hover {
  background: #66a6ff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
}
/* Contact Section Ends */


/* Footer */
#footer {  
  background:none;
  padding: 1.5rem 0;  
  border-top: 0.1rem;
}

#footer h1 {  
  color: #333;  
  text-align: center;  
  font-size: 1.7rem;  
  font-weight: 
  bolder;
  margin-bottom: 0;  
  letter-spacing: .1rem;
}
  #footer h1 span {  
    color: pink;
  }
  

/* Responsive */

/* Desktop View */
@media (min-width:992px) {
  .navbar-brand {
    margin-left: 25px;
  }
  .nav-link {
    text-transform: uppercase;
    margin-right: 20px;
  }
  
  .nav-link:hover::after, .nav-link.active::after {
    content: '';
    display: block;
    border-bottom: 3px solid pink;
    margin: auto;
    margin-bottom: -8px;
    width: 75%;
    padding-top: 5px;
  }
  .wrapper-contact{
    display: none;
  }
}

/* Smaller Screen */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .home {
    background-position: center;
  }
    
  .nav-link:hover::after,
  .nav-link.active::after {
      border: none;
  }

  .about img {
    width: 75%;
  }

  .about .info h2{
    margin-top: 40px;
  }

  .contact .wrapper {
    margin-top: -50px;
  }

  .dashboard{
    display: none;
  }
}

@media (max-width: 992px){  
  .portfolio .col-lg-4 {    
    display: none;  
  }
  .portfolio .images .filter-image{    
    width: 90%;  
  }
}
